{% extends 'layout.html' %} {% load static %} {% block title%} Trang index {%endblock%} {% block body%}

<!-- Begin #carousel-section -->
<section id="carousel-section" class="section-global-wrapper">
    <div class="container-fluid-kamn">
        <div class="row">
            <div id="carousel-1" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators visible-lg">
                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="1"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- Begin Slide 1 -->
                    <div class="item active">
                        <img src="{% static 'assets/img/slider/slide2.jpg' %}" height="400" alt="Image of first carousel">
                        <div class="carousel-caption">
                            <h3 class="carousel-title hidden-xs">Office BOOTSTRAP TEMPLATE</h3>
                            <p class="carousel-body">RESPONSIVE \ MULTI PAGE</p>
                        </div>
                    </div>
                    <!-- End Slide 1 -->

                    <!-- Begin Slide 2 -->
                    <div class="item">
                        <img src="{% static 'assets/img/slider/slide4.jpg' %}" height="400" alt="Image of second carousel">
                        <div class="carousel-caption">
                            <h3 class="carousel-title hidden-xs">EASY TO CUSTOMIZE</h3>
                            <p class="carousel-body">BEAUTIFUL \ CLEAN \ MINIMAL</p>
                        </div>
                    </div>
                    <!-- End Slide 2 -->

                    <!-- Begin Slide 3 -->
                    <div class="item">
                        <img src="{% static 'assets/img/slider/slide2.jpg' %}" height="400" alt="Image of third carousel">
                        <div class="carousel-caption">
                            <h3 class="carousel-title hidden-xs">MULTI-PURPOSE TEMPLATE</h3>
                            <p class="carousel-body">PORTFOLIO \ CORPORATE \ CREATIVE</p>
                        </div>
                    </div>
                    <!-- End Slide 3 -->
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-1" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End #carousel-section -->


<!-- Begin #services-section -->
<section id="services" class="services-section section-global-wrapper">
    <div class="container">
        <div class="row">
            <div class="services-header">
                <h3 class="services-header-title">Our Mission</h3>
                <p class="services-header-body"><em> Things we provide in Office </em> </p>
                <hr>
            </div>
        </div>

        {% if org_lists %} {% for sub_list in org_lists %} {% if forloop.first %}
        <div class="row services-row services-row-head services-row-1">{% endif %}

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                    <p class="services-icon">
                        <img style="width: 40px;height: 40px;" src="{{sub_list.Image}}">
                    </p>
                    <h4 title="{{sub_list.Name}}" class="services-title"> {{sub_list.Name}}</h4>
                    <p title="{{sub_list.Purpose}}" class="services-body">{{sub_list.Purpose}}</p>
                    <p class="services-more">
                        <a href="{%url 'office-master:organization-detail' sub_list.id %}">Find Out More</a>
                    </p>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}</div>
        <div class="row services-row services-row-head services-row-1">{% endif %} {% if forloop.last %}</div>{% endif %} {% endfor %} {% endif %}

    </div>
</section>
<!-- End #services-section -->

{% endblock %}