{% extends 'layout.html' %} {% load static %} {% block title%} Organization List {%endblock%} {% block body%}


<div class="container org-form">
    {% if org_lists %}
    <div class="col-md-12">
        <ul class="list-group">
            {% for item in org_lists %}
            <li class="list-group-item">
                <label>Organization Name: </label> {% if item.Manager.username == user.username or user.is_superuser %}
                <a href="{%url 'office-master:organization-edit' item.id %}">
                    <span>
                        {{item.Name}}
                    </span>
                </a>
                {% else %}
                <span>
                        {{item.Name}}
                </span> {% endif %}


                <label>Owner: </label>
                <span>
                    {{item.Manager.username}}
                </span>
                <a href="{%url 'office-master:organization-detail' item.id %}">View</a> {% if item.Manager.username == user.username or user.is_superuser %}
                <a href="{%url 'office-master:organization-delete' item.id %}">Delete</a> {% endif %} {% if item.Manager.username == user.username or user.is_superuser %}
                <a href="{%url 'office-master:organization-add-member' item.id %}">Add member</a> {% endif %}

            </li>
            {% endfor%}
        </ul>
    </div>
    {% endif %}

    <a href="{% url 'office-master:organization-create' %}">Created Organization</a>
</div>
{% endblock %}